html {
    height: 100%;
}

body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    /* overflow-y: scroll; */
}

.row>div {
    display: inline-block;
    border: 1px solid red;
    box-sizing: border-box;
    width: 5%;
    height: 100%;
    vertical-align: middle;
}

.row {
    height: 1.5em;
}
 

table {
    border-collapse: collapse;
    margin-bottom: 2em;
}

th, td {
    padding: 0.5em;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

td:first-child {
    text-align: left;
}

* {
    font-family: arial;
}
 
caption {
    font-size: 1.5em;
    white-space: nowrap;
}

#root {
    height: 100%;
    background-color: mistyrose;
}

#root.tableHidden {
  display:none;
}

#root.visibilityHidden {
  visibility: hidden;
}
 
#root.contentVisibility .row   {
    content-visibility: auto;
}

#root.contentVisibilityNoHeight .row   {
    content-visibility: auto;
    height: initial;
}

#root.overflowClip   {
    overflow: clip;
}

#root.overflowHidden   {
    overflow: hidden;
}

button.selected {
    background-color: palegreen;
}

button#start {
    margin-left: 4em;
    background-color: orange;
}
#controls {
    text-align: center;
    margin: 0.5em;
    position: fixed;
    width: 100%;
    z-index: 1;
}

h1 {
    margin-bottom: 0.2em;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: blue;
}